<div class="content-wrapper">
  <section  class="content">
      <div class="card mt-2">
          <h1 class="m-3">Hareketler</h1>
          <p-table
              #dt1
              [value]="movements"
              dataKey="id"
              [rows]="5"
              [showCurrentPageReport]="true"
              [rowsPerPageOptions]="[5, 15, 30]"
              [paginator]="true"
              currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
              [globalFilterFields]="['name','description','videoLink','imageLink','categoryName']"
              >
              <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <input pInputText type="text"  (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Ara..." />
                    </span>
                
                </div>
            </ng-template>
              <ng-template pTemplate="header">
                  <tr>
                    <th style="min-width:10rem;" >
                        <div class="flex align-items-center">
                            Fotoğraf
                        </div>
                    </th>
                      <th style="min-width:10rem;" >
                          <div class="flex align-items-center mx-5">
                              Ad
                          </div>
                      </th>
                      <th style="min-width:10rem;" >
                        <div class="flex align-items-center " style="overflow: hidden;">
                            Açıklama
                        </div>
                    </th>
                    <th style="min-width:5rem;" >
                      <div class="flex align-items-center ">
                          Video
                      </div>
                  </th>
                 
                <th style="min-width:10rem;" >
                  <div class="flex align-items-center">
                      Kategori
                  </div>
              </th>
                      <th style="min-width:15rem">
                          <div class="flex align-items-center ">
                              <button
                              class="btn btn-success btn-m"
                              style="float: right"
                              data-bs-toggle="modal"
                              data-bs-target="#addModal"
                          >
                              <span style="font-weight: bolder">+</span>
                              Ekle
                              </button>
                          </div>
                      </th>
                  
                      
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-movement>
          
                      <tr>
                        <td >
                            @if(movement?.imageLink){
                                <img [src]="movement.imageLink" [alt]="movement.imageLink" style="width: 10rem;">            
                            }@else{
                                <img src="../../../../../assets/dist/img/avatar5.png" alt="" style="width: 10rem;">            

                            }
                        </td>
                      <td >

                          <div class="mx-5">
                              {{ movement.name }}
                          </div>                       
                      </td>
                        <td >
                            <div class="tooltip-container">
                                @if(movement.description.length > 18){
                                    <div class="tooltip">
                                        {{ movement.description }}
                                      </div>
                                }
                                {{  movement.description.length > 18 ?  movement.description.substring(0, 15) + '...' :  movement.description }}
                              </div>
                                                
                      </td>
                      <td >
                        <div >
                            <i class="fa-solid fa-play"
                            data-bs-toggle="modal"
                            data-bs-target="#videoModal"
                            (click)="setVideoLink(movement.videoLink)"

                            style="color: green; margin-left: 1rem;"></i>
                        </div>                       
                    </td>
                  
                  <td >
                    <div>
                        {{ movement.categoryName }}
                    </div>                       
                </td>
          
                      <td class="project-actions text-right">
                          <!-- <a class="btn btn-primary btn-sm" href="#">
                                          <i class="fas fa-folder">
                                          </i>
                                          View
                                      </a> -->
                          <a
                          (click)="updatedMovement=movement"
                          class="btn btn-info btn-sm mr-3"
                          data-bs-toggle="modal"
                          data-bs-target="#updateModal"
                          >
                          <i class="fas fa-pencil-alt"> </i>
                          Düzenle
                          </a>

                          <a class="btn btn-danger btn-sm px-3" (click)="remove(movement._id)">
                          <i class="fas fa-trash"> </i>
                          Sil
                          </a>
                          
                      </td>
                      </tr>
              
  
              </ng-template>
              <ng-template pTemplate="emptymessage">
                  <tr>
                      <td colspan="7">Hareket bulunamadı.</td>
                  </tr>
              </ng-template>
          </p-table>
      </div>
  </section>
  </div>
  

  <app-add-movement></app-add-movement>
  @defer (when updatedMovement) 
  {
    <app-update-movement [updatedMovement]="updatedMovement"></app-update-movement>
  }

  @defer (when currentVideoLink) {
    <app-play-video [videoLink]="currentVideoLink" ></app-play-video>
  }



