<div class="hold-transition login-page">
  <div class="login-box">

    <div class="card card-outline card-primary">
      <div class="card-header text-center"> 
        <img width="50%" src="/assets/dist/img/admin-login.png" alt="">
       
        <h2> <i class="i-light fa-solid fa-lock mx-2"></i>  <b>Admin</b></h2>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Lütfen Giriş yapın</p>

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email"
            ngModel 
            name="email"
            id="email" 
            required
            email="true"
            minlength="3"
            #email
            [appValid]="email?.validity?.valid"
             />
          
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <div class="invalid-feedback">
                Geçerli bir mail adresi girin!
            </div>  
          </div>
       
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              ngModel
              name="password"
              id="password"
              #password
              required
              [appValid]="password?.validity?.valid"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div class="invalid-feedback">
                Şifre alanı boş olamaz!
              </div>
          </div>
      
            <button type="submit" class="btn btn-primary btn-block ">
                Giriş Yap
            </button>
       
        </form>
      </div>
    </div>
  </div>
</div>
