    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <div class="brand-link">
          <img src="/assets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
          <span class="brand-text font-weight-light">Admin Paneli</span>
        </div>
    
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user (optional) -->
          <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
              <img src="/assets/dist/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
              <div  class="d-block text-white">Admin</div>
            </div>
          </div>
  
    
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" style="height: 85vh;" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a  class="nav-link">
                        <i class="fa-solid fa-user"></i>
                      <p>
                        Kullanıcılar
                      </p>
                    </a>
                  </li>
    
                  <li class="nav-item">
                    <a routerLink="movement" class="nav-link">
                        <i class="fa-solid fa-dumbbell"></i>
                      <p>
                        Hareketler
                      </p>
                    </a>
                  </li>
                  
                  <li class="nav-item">
                    <a routerLink="training-program" class="nav-link">
                        <i class="fa-solid fa-calendar-week"></i>
                      <p>
                        Antreman Programları
                      </p>
                    </a>
                  </li>

                  <li class="nav-item">
                    <a routerLink="category" class="nav-link">
                      <i class="fa-solid fa-list"></i>
                      <p>
                        Kategoriler
                      </p>
                    </a>
                  </li>
                  <!-- <li class="nav-item">
                    <a  class="nav-link">
                        <i class="fa-solid fa-bowl-rice"></i>
                      <p>
                        Beslenme Programı
                      </p>
                    </a>
                  </li> -->
                 
            </ul>
          </nav>
          <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
      </aside>