<div class="content-wrapper">
    <section  class="content">
        <div class="card mt-2">
            <h1 class="m-3">Kullanıcılar</h1>
            <p-table
                #dt1
                [value]="users"
                dataKey="id"
                [rows]="5"
                [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[5, 15, 30]"
                [paginator]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [globalFilterFields]="['firstName','email','lastName','phoneNumber']"
>
                >
    
                <ng-template pTemplate="caption">
                    <div class="flex">
                        <span class="p-input-icon-left ml-auto">
                            <input pInputText type="text"  (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Ara..." />
                        </span>
                    
                    </div>
                </ng-template>
    
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width:10rem;" >
                            <div class="flex align-items-center mx-5">
                                Ad
                            </div>
                        </th>
                        <th style="min-width:10rem;" >
                            <div class="flex align-items-center mx-5">
                                Soyad
                            </div>
                        </th>
                        <th style="min-width:15rem;" >
                            <div class="flex align-items-center mx-5">
                                Telefon
                            </div>
                        </th>
                        <th style="min-width:15rem;" >
                            <div class="flex align-items-center mx-5">
                                Güncelleme Tarihi
                            </div>
                        </th>
                        <th style="min-width:15rem;" >
                            <div class="flex align-items-center mx-5">
                                
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user >
            
                        <tr>
                        <td >
                            <div class="mx-5">
                                {{ user.firstName }}
                            </div>
                        </td>
                        <td >
                            <div class="mx-5">
                                {{ user.lastName }}
                            </div>
                        </td>
                        <td >
                            <div class="mx-5">
                                {{ user.phoneNumber }}
                            </div>
                        </td>
                        <td >
                            <div class="mx-5">
                                {{ user.userProgramsCreatedDate|date }}
                            </div>
                        </td>
                        @if(!user.programId){
                            <td>
                                <div class="flex align-items-center">
                                    <button
                                    class="btn btn-primary btn-sm"
                                    style="float: right"
                                    data-bs-toggle="modal"
                                    data-bs-target="#addModal"
                                    (click)="userId = user._id"
                                >
                                    <span style="font-weight: bolder"> <i class="fa  fa-share"></i></span>
                                    Program Ata
                                    </button>
                                </div>
                            </td>
                        }@else{
                            <td >
                                <div class="flex align-items-center">
                                    <button
                                    class="btn btn-warning btn-sm ml-2"
                                    style="float: right"
                                    [routerLink]="'/admin/training-program/' + user.programId"
                                    (click)="removeUserProgram()"
                                >
                                    <span style="font-weight: bolder"><i class="fa fa-eye"></i></span>
                                    Görüntüle
                                    </button>
                                    <button
                                    class="btn btn-info btn-sm"
                                    style="float: right"
                                    data-bs-toggle="modal"
                                    data-bs-target="#updateModal"
                                    (click)="setUpdate(user._id,user.userProgramsId)"
                                >
                                    <span style="font-weight: bolder"><i class="fa  fa-pencil-alt"></i></span>
                                    Güncelle
                                    </button>
                                </div>
                                
                            </td>
                        }
    
                        </tr>
                
    
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">Kullanıcı bulunamadı.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </section>
</div>

@if(userId){
    <app-set-program-to-user [userId]="userId"></app-set-program-to-user>
    
}
@if(updatedUserId && updatedUserProgramId){
    <app-update-user-program [userId]="updatedUserId" [updatedUserProgramId]="updatedUserProgramId" ></app-update-user-program>
}