<div class="content-wrapper">
<section  class="content">
    <div class="card mt-2">
        <h1 class="m-3">Kategoriler</h1>
        <p-table
            #dt1
            [value]="categories"
            dataKey="id"
            [rows]="5"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[5, 15, 30]"
            [paginator]="true"
            [loading]="loading"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [globalFilterFields]="['name']"
            >
            <ng-template pTemplate="caption">
                <div class="flex">
                    <span class="p-input-icon-left ml-auto">
                        <input pInputText type="text"  (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Ara..." />
                    </span>
                
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width:15rem;" >
                        <div class="flex align-items-center mx-5">
                            Ad
                        </div>
                    </th>
                    <th style="min-width:15rem">
                        <div class="flex align-items-center mx-5">
                            <button
                            class="btn btn-success btn-m"
                            style="float: right"
                            data-bs-toggle="modal"
                            data-bs-target="#addModal"
                        >
                            <span style="font-weight: bolder">+</span>
                            Ekle
                            </button>
                        </div>
                    </th>
                
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-category>
        
                    <tr>
                    <td >
                        <div class="mx-5">
                            {{ category.name }}
                        </div>
                        
                    </td>
        
                    <td class="project-actions text-right">
                        <!-- <a class="btn btn-primary btn-sm" href="#">
                                        <i class="fas fa-folder">
                                        </i>
                                        View
                                    </a> -->
                        <a
                        (click)="updatedCategory=category"
                        class="btn btn-info btn-sm mr-3"
                        data-bs-toggle="modal"
                        data-bs-target="#updateModal"
                        >
                        <i class="fas fa-pencil-alt"> </i>
                        Düzenle
                        </a>
                        <a class="btn btn-danger btn-sm px-3 mr-5" (click)="remove(category._id)">
                        <i class="fas fa-trash"> </i>
                        Sil
                        </a>
                        
                    </td>
                    </tr>
            

            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">Kategori bulunamadı.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</section>
</div>

<app-add-category></app-add-category>

@if (updatedCategory) {
  <app-update-category [updatedCategory]="updatedCategory"></app-update-category>
}

