
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Hareket Güncelle</h5>
          <button type="button" #closeButton  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #updateForm="ngForm" autocomplete="off" (ngSubmit)="update(updateForm)">
                <div class="form-group">
                    <label for="name">Hareket Adı *</label>
                    <input
                      type="text"
                      name="name"
                      id="name"
                      ngModel
                      [(ngModel)]="updatedMovement.name"
                      required
                      #name
                      minlength="3"
                      class="form-control"
                      [appValid]="name?.validity?.valid">
                      <div class="invalid-feedback">
                        Hareket adı en az 3 karakter olmalıdır!
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Açıklama</label>
                    <input
                      type="text"
                      name="description"
                      id="description"
                      ngModel
                      [(ngModel)]="updatedMovement.description"
                      #description
                      class="form-control">
                </div>
                <div class="form-group">
                    <label for="videoLink">Video Linki</label>
                    <input
                      type="text"
                      name="videoLink"
                      id="videoLink"
                      ngModel
                      [(ngModel)]="updatedMovement.videoLink"

                      #videoLink
                      class="form-control">
                </div>
                <!-- <div class="form-group">
                    <label for="imageLink">Fotoğraf Linki</label>
                    <input
                      type="text"
                      name="imageLink"
                      id="imageLink"
                      ngModel
                      [(ngModel)]="updatedMovement.imageLink"

                      #imageLink
                      class="form-control">
                </div> -->
                
                <div class="form-group">
                  <label for="categoryId ">Kategori Adı *</label>
                  <select 
                  class="form-control"
                  name="categoriesSelect"
                  id="categoriesSelect"
                  ngModel
                  [(ngModel)]="updatedMovement.categoryId"
                  #categoriesSelect>
                  @for (category of categories; track $index) {
                      <option [value]="category._id">
                          {{category.name}}
                      </option>
                  }
             
                  </select>
              </div>
              <div  class="form-group">   
                <input type="file"
                name="fileInput"
                id="fileInput"
                maxAllowedContentLength="737280000" 
                (change)="onFileSelected($event)"
                 #fileInput style="display: none" 
                 accept="image/*">
       
                 <i (click)="fileInput.click()" style="color: blue; font-size: larger;" class="fa-solid fa-paperclip ml-1"></i>
                <span style="font-weight: 550;"> Fotoğrafı Güncelle </span>
                
    
              <span> {{ selectedFileName }}</span>
            <!-- <button (click)="uploadFile()" [disabled]="!selectedFile">Yükle</button> -->
              @if (updatedMovement.imageLink) {
                <img id="selectedImage" [src]="updatedMovement.imageLink" alt="Movement" style="width: 25%;">
              }
              </div>

         
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button (click)="update(updateForm)" type="button" class="btn btn-primary">Kaydet</button>
        </div>
      </div>
    </div>
  </div>
