
<div class="modal fade" id="updateProgramMovementModal" tabindex="-1" aria-labelledby="updateProgramMovementModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateProgramMovementModalLabel">Kategori Ekle</h5>
          <button type="button" id="closeButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #updateProgramMovementForm="ngForm" autocomplete="off" (ngSubmit)="updateProgramMovement(updateProgramMovementForm)">
                <div class="form-group">
                    <label for="numberOfSets">Set Sayısı</label>
                    <input
                      type="number"
                      name="numberOfSets"
                      id="numberOfSets"
                      ngModel
                      [(ngModel)]="updatedNumberOfSets"
                      #numberOfSets
                      minlength="3"
                      class="form-control">
                     
                </div>
                <div class="form-group">
                    <label for="numberOfRepetitions">Tekrar Sayısı</label>
                    <input
                      type="number"
                      name="numberOfRepetitions"
                      id="numberOfRepetitions"
                      ngModel
                      [(ngModel)]="updatedNumberOfRepetitions"

                      #numberOfRepetitions
                      class="form-control">
                </div>
          
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button (click)="updateProgramMovement(updateProgramMovementForm)" type="button" class="btn btn-primary">Kaydet</button>
        </div>
      </div>
    </div>
  </div>
