
<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Kategori Güncelle</h5>
          <button type="button" id="closeButton" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #updateForm="ngForm" autocomplete="off" (ngSubmit)="update(updateForm)">
                <div class="form-group">
                    <label for="name">Program Adı *</label>
                    <input
                      type="text"
                      name="name"
                      id="name"
                      ngModel
                      [(ngModel)]="updatedProgram.name"
                      required
                      #name
                      minlength="3"
                      class="form-control"
                      [appValid]="name?.validity?.valid">
                      <div class="invalid-feedback">
                        Kategori adı en az 3 karakter olmalıdır!
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Program Açıklaması *</label>
                    <input
                      type="text"
                      name="description"
                      id="description"
                      ngModel
                      [(ngModel)]="updatedProgram.description"
                      required
                      #description
                      minlength="3"
                      class="form-control"
                      [appValid]="description?.validity?.valid">
                      <div class="invalid-feedback">
                        Kategori adı en az 3 karakter olmalıdır!
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button (click)="update(updateForm)" type="button" class="btn btn-primary">Kaydet</button>
        </div>
      </div>
    </div>
  </div>
