<!-- Offcanvas Menu Section Begin -->
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="canvas-close">
        <i class="fa fa-close"></i>
    </div>
    <div class="canvas-search search-switch">
        <i class="fa fa-search"></i>
    </div>
    <nav class="canvas-menu mobile-menu">
        <ul>
            <li><a routerLink="/">Ana sayfa</a></li>
            <li><a routerLink="/about">Hakkımızda</a></li>
            <li><a routerLink="/login">Giriş Yap</a></li>
        </ul>
    </nav>
    <div id="mobile-menu-wrap"></div>
    <div class="canvas-social">
        <a ><i class="fa fa-facebook"></i></a>
        <a><i class="fa fa-twitter"></i></a>
        <a ><i class="fa fa-youtube-play"></i></a>
        <a ><i class="fa fa-instagram"></i></a>
    </div>
</div>
<!-- Offcanvas Menu Section End -->