<div class="hold-transition sidebar-mini layout-fixed" >
    <div class="wrapper">
        <div class="content-wrapper kanban">
          <section class="content py-3">
            <div class="container-fluid h-100">
              <div class="card card-row card-secondary">
                <div class="card-header">
                  <h3 class="card-title">
                    Pazartesi 
                  </h3>
                </div>
                <div class="card-body">
                @for (day of pazartesi; track $index) {
                  <div class="card card-secondary card-outline">
                    <div class="card-header">
                      <h5>{{day.movementsName}} <span class="small"> {{day.numberOfSets}} x {{day.numberOfRepetitions}} </span></h5>
                      <p >{{ day.movementsDescription}}</p>
                    </div>
                  </div>
                  }
               </div>

              </div>



              <div class="card card-row card-primary">
                <div class="card-header">
                  <h3 class="card-title">
                    Salı
                  </h3>
                </div>
                <div class="card-body">
                @for (day of sali; track $index) {
                  
                    <div class="card card-primary card-outline">
                      <div class="card-header">
                        <h5>{{day.movementsName}} <span class="small"> {{day.numberOfSets}} x {{day.numberOfRepetitions}} </span></h5>
                        <p >{{ day.movementsDescription}}</p>
                      </div>
                    </div>
                  
                }
              </div>
              </div>


              <div class="card card-row card-danger">
                <div class="card-header">
                    <h3 class="card-title">
                      Çarşamba
                    </h3>
                  </div>
                  <div class="card-body">
                  @for (day of carsamba; track $index) {
                    
                      <div class="card card-danger card-outline">
                        <div class="card-header">
                          <h5>{{day.movementsName}} <span class="small"> {{day.numberOfSets}} x {{day.numberOfRepetitions}} </span></h5>
                          <p >{{ day.movementsDescription }}</p>
                        </div>
                      </div>
                  
                  }
                </div>
              </div>



              <div class="card card-row card-warning">
                <div class="card-header">
                    <h3 class="card-title">
                      Perşembe
                    </h3>
                  </div>
                  <div class="card-body">

                  @for (day of persembe; track $index) {
                      <div class="card card-warning card-outline">
                        <div class="card-header">
                          <h5>{{day.movementsName}} <span class="small"> {{day.numberOfSets}} x {{day.numberOfRepetitions}} </span></h5>
                          <p >{{ day.movementsDescription}}</p>
                        </div>
                      </div>
                  }
                </div>

              </div>


              <div class="card card-row card-info">
                <div class="card-header">
                    <h3 class="card-title">
                      Cuma
                    </h3>
                  </div>
                  <div class="card-body">

                  @for (day of cuma; track $index) {
                      <div class="card card-info card-outline">
                        <div class="card-header">
                          <h5>{{day.movementsName}} <span class="small"> {{day.numberOfSets}} x {{day.numberOfRepetitions}} </span></h5>
                          <p >{{ day.programsDescription}}</p>
                        </div>
                      </div>
                  }
                </div>

              </div>

              <div class="card card-row card-success">
                <div class="card-header">
                    <h3 class="card-title">
                      Cumartesi
                    </h3>
                  </div>
                  <div class="card-body">

                  @for (day of cumartesi; track $index) {
                      <div class="card card-success card-outline">
                        <div class="card-header">
                          <h5>{{day.movementsName}} <span class="small"> {{day.numberOfSets}} x {{day.numberOfRepetitions}} </span></h5>
                          <p >{{ day.movementsDescription}}</p>
                        </div>
                      </div>
                  }
                </div>

              </div>

              <div class="card card-row card-default">
                <div class="card-header">
                    <h3 class="card-title">
                      Pazar
                    </h3>
                  </div>
                  <div class="card-body">

                  @for (day of pazar; track $index) {
                      <div class="card card-default card-outline">
                        <div class="card-header">
                          <h5>{{day.movementsName}} <span class="small"> {{day.numberOfSets}} x {{day.numberOfRepetitions}} </span></h5>
                          <p >{{ day.movementsDescription}}</p>
                        </div>
                      </div>
                  }
                </div>

              </div>


            </div>
          </section>
        </div>
      </div>

</div>
